langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph
langchain-ollama
langchain-chroma
pypdf
python-docx
openpyxl
tiktoken

langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langgraph
openpyxl
pypdf
python-docx
tiktoken
